# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

# production
/build
build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

log.txt
size.log
public/html/index.ejs
package-lock.json

# yarn.lock

dist
dist-all

# version helper
version.json
version.json-e
version.js
public/js/version.txt

# 工程
public/posts/
temp.txt
*.log
.app
.vscode/sftp.json

# 配置前端的开发环境配置文件，由于由程序自动生成，所以需要忽略
provider-env-config.dev.json

# 配置前端的生产环境配置文件，由于由程序自动生成，所以需要忽略
provider-env-config.prod.json

# 配置端的 externals 库
externals-libs

widget-meta-store
exp-meta-store

packages/AppEntry/public/runtime
