.ant-card-head {
  padding: 0 10px;
  min-height: 30px;

  .ant-card-head-title {
    padding: 8px 0;
  }
}
.variable{
  .ant-table-cell{
    font-size: 13px;
  }
}
.result-code-box{
  background: rgb(21, 21, 21);
  min-height: 30px;
  color: white;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  .title{
    margin-right: 10px;
  }

}
.ant-card-body {
  padding: 10px;
}

.pro-demo {
  display: flex;
  justify-content: start;
  align-items: stretch;

  .left-meun {
    width: 300px;
  }

  .center-editor {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    max-width: calc(100% - 620px);
  }

  .right-menu {
    width: 300px;
  }

}
.func-table-col{
  display: flex;
  align-items: center;
}
.func-table-text{
  width: 90px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.params-modal{
  .CodeMirror {
    border: 1px solid #d9d9d9;
    height: 200px;
  }
  .json-editor-select{
    position: absolute;
    top: 79px;
    right: 24px;
    z-index: 1000;
  }
  .addon-input-number{
    display: flex;
    align-items: center;
    .ant-input-number{
      flex: 1;
    }
    .ant-select{
      margin-left: -1px;
      text-align: center;
      background-color: #fafafa;
    }
    .ant-select-selector{
      background-color: #fafafa;
    }
  }
  .btn{
    margin-top: 20px;
    text-align: right;
  }
}
