.visual-app {
  .app-header {
    box-shadow: 0 0 6px rgba(#000, 0.1);
  }
  .app-content {
    .comp-panel {
    }
    .canvas-container {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      padding: 10px;
      background-color: #eee;
    }
    .prop-panel {
    }
  }
  .app-footer {
  }
}

.entity-prop-editor {
  padding: 10px;
}

// .canvas-stage-container {
//   background-color: #fff;
// }

.canvas-stage {
  min-height: 100%;
  background-color: #fff;
  margin: 0 auto;
  // margin-left: 50%;
  // transform: translateX(-50%);
}
