.result-code-box{
  background: rgb(21, 21, 21);
  min-height: 30px;
  color: white;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  .title{
    margin-right: 10px;
  }

}
.CodeMirror{
  min-height: 130px;
}

.CodeMirror-hints,
.CodeMirror-lint-tooltip {
  z-index: 10000 !important;
}
.CodeMirror-fullscreen {
  z-index: 9999;
}
