.tool-bar{
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  align-items: center;
  .select-node{
    margin-right: 30px;
  }
  .run-button{
    flex: 1;
    text-align: right;
  }
}
.run-params-modal{
  .ant-modal-body{
    padding: 15px;
    .ant-modal-confirm-content{
      margin-left: 5px !important;
    }
  }
}
